*{
    margin: 0px;
  }
    body{
        /* background-image: url("imgs/1.jpg"); */
       background-position: center;
  background-size: cover;
  height: 70vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;

    }
    .sticky-nav{
      display: flex;
  justify-content: space-around;
      background-color: rgb(6, 57, 108);
      color: white;
      /* margin:-0.4%; */
      height: 7%;
padding-top: 15px; 
position: fixed; 
      width:100%;  
      z-index: 1;   
    }
   
   .nav-logo{
      margin-top: 2px;
      font-size: 16px;
    }
    .nav-items{
        display:flex;
    list-style-type: none;
    float: right;
    /* padding-right: 3%; */
   
    }
    li{
      margin-top: 2px;
    }
    a {
        padding: 13px;
        margin-top: 15px;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
    }
    a:hover {
        
      color: #fff;
    
    }
   span{
    font-size:18px;
   }
   .btn-primary{
    margin-top: -2%;
   }
   .home-background{
    background-image: url("imgs/1.jpg");
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-1.1%;
    background: #053c8f;
    background: -webkit-linear-gradient(
      rgba(29, 38, 113, 0.8),
      rgba(8, 73, 158, 0.8)
    ),
    url("imgs/1.jpg");
    background: linear-gradient(rgba(93, 113, 125, 0.8), rgba(70, 61, 118, 0.8)),
    url("imgs/1.jpg");
    background-size: cover;

    background-attachment: fixed

   }

   /* About-SECTION   */
   
   .main-heading{
    background-image: linear-gradient(to right, #8aa6d9, #4cafc9, #1369a1 );
    -webkit-background-clip: text;
    background-clip;
    color: transparent;
    text-align: center;
     font-size: 5rem;
 
    
   }
   .flex-row{
    display: flex;
  justify-content: space-around;
  align-items: center;
    margin-top: 3% ;
    
    }
    .left-cont{
      display: flex;
      flex-direction:column;
    }
    .width-46{
      width: 46%;
    font-size: 16px;
    margin: 0% 0% 0% 23%;
    }
    .read-more-btn{
      width: 15%;
      margin: 2% 0% 0% 23%;
      background: rgb(138,166,217) !important;
background: linear-gradient(90deg, rgba(138,166,217,1) 0%, rgba(76,175,201,1) 53%, rgba(19,105,161,1) 100%);
    }
    .read-more-btn:hover{
      border: 1px solid  rgba(19,105,161,1);
      /* background-color: white; */
    }
    .right-cont{
      width: 70%;
      margin-right: 10%;
      background: rgb(88,117,171);
background: linear-gradient(90deg, rgba(88,117,171,1) 0%, rgba(60,146,168,1) 53%, rgba(32,110,161,1) 100%);
    }
    .about-img{
      height: 100%;
      width: 100%;
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
      clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }
    /* .image-2{
      height: 20%;
      width: 30%;
    } */
   
.right-cont:hover .about-img {
  opacity: 0.7;
}
b{
   background-image: linear-gradient(to right, #8aa6d9, #42b1cd, #1481ca );
    -webkit-background-clip: text;
    background-clip;
    color: transparent;
}

/* more-about-SECTION   */

#more-about{
    background-color: rgba(240, 237, 237, 0.385);
    /* background: rgb(138,166,217);
background: linear-gradient(90deg, rgb(111, 139, 192) 0%, rgb(76, 176, 201) 53%, rgb(13, 84, 132) 100%); */

    margin-top: -1%;
    padding-top: 1%;
   }
.justify-content-around{
display: flex;
justify-content: space-around;
align-items: center;
/* margin-top: %; */
}

.about-p{
  margin: -5% 0% 0% -5%;
  width:30%;
}
.more-about-img{
  height: 50% !important;
      width: 60% !important;
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
      /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
}
.width-20{
  height: 40% !important;
      width: 40% !important;
      margin:-15% 0% 0% 65%;
}
/* Alter-SECTION    */

.alter-sec{
  background: rgb(88,117,171);
background: linear-gradient(90deg, rgba(88,117,171,1) 0%, rgba(60,146,168,1) 53%, rgba(32,110,161,1) 100%);
height: 35vh;
margin-top: 10px;
}
.alter-image{
    height: 30% !important;
    width: 25% !important;
    margin-left: 5%;
}
